{% extends 'Restaurant/base.html' %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <h2 class="mb-4">Welcome to Yats!</h2>
        <p class="lead mb-5">A local New Orleans style joint serving up a rotating list of diverse sauces and stews, all served on rice with a slice of Cajun buttered baguette.</p>
        <h3 class="mb-4">About Us</h3>
        <p class="mb-5">We were born in Indianapolis, Indiana on 54th and College and have since expanded our family to include 14 other locations around the Midwest. But no matter where you find us, we care about our customers and we love our community. It's our place and we want it to be your place too. Let's spread the love.</p>
        <h3 class="mb-4">Final Project</h3>
        <p class="mb-5">This project was developed by Van Tran, Paul Thompson, and Andrew Rehfeldt for Mr. Hamby's SDEV220 course in the spring of 2023.</p>
      </div>
    </div>
  </div>
{% endblock %}