{% extends 'Restaurant/base.html' %}
{% block content %}
    <h2>THIS IS YATS, A LOCAL NEW ORLEANS STYLE JOINT.</h2>
    <article>THE CUSTOMER ORDERS AT THE COUNTER FROM THE CHALKBOARD MENU. THE MENU IS A ROTATING LIST OF DIVERSE SAUCES AND STEWS, REFLECTING THE FOUNDER’S NEW ORLEANS ROOTS. JOE OFFERS UP A DAILY MENU OF SEVEN TO TEN DISHES, ALL SERVED ON RICE WITH A SLICE OF CAJUN BUTTERED BAGUETTE. FOR UNDER 10 BUCKS, YOU CAN GET A SINGLE, STEAMING HOT PLATE, OR A COMBINATION OF TWO. WE HAVE TWO PRICES, NOT THIRTY. NO WAITERS, NO TABLECLOTHS. SIMPLE AND EASY, JUST THE WAY WE LIKE IT.</article>
    <p></p>
    <h2>READ THE BOOK OF JOE</h2>
    <article>WE WERE BORN IN INDIANAPOLIS, INDIANA ON 54TH AND COLLEGE AND HAVE SINCE EXPANDED OUR FAMILY TO INCLUDE 14 OTHER LOCATIONS AROUND THE MIDWEST. BUT NO MATTER WHERE YOU FIND US, WE CARE ABOUT OUR CUSTOMERS AND WE LOVE OUR COMMUNITY. IT’S OUR PLACE AND WE WANT IT TO BE YOUR PLACE TOO. LET’S SPREAD THE LOVE.</article>
{% endblock %}