{% extends 'Restaurant/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">{{ order_item.order.order_date|date:"F d, Y H:i" }}</div>

                <div class="card-body">
                    <h4>Order Details</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Dish Name</th>
                                <th>Quantity</th>
                                <th>Customization</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for detail in order_item_details %}
                            <tr>
                                <td>{{ detail.menu_item.dishName }}</td>
                                <td>{{ detail.quantity }}</td>
                                <td>{{ detail.customization }}</td>
                                <td>{{ detail.menu_item.price }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="3">Total</th>
                                <td>{{ order_item.order.total_price }}</td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="text-right">
                        <a href="{% url 'menu_list' %}" class="btn btn-secondary">Back to Menu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

