{% extends 'Restaurant/base.html' %}

{% block content %}
<h1>Order Confirmation</h1>
<br>
<h3>Name: {{order_item.order.customer_name}}</h3>
<h3>Email: {{order_item.order.customer_email}}</h3>
<br>
<br>
<h2>Order Summary</h2>
<br>
<table style="width: 100%; height: 500px;">
  <thead>
    <tr>
      <th><strong>Dish Name</strong></th>
      <th><strong>Quantity</strong></th>
      <th><strong>Price</strong></th>
      <th><strong>Customization</strong></th>
    </tr>
  </thead>
  <tbody>
    {% for item in order_item_details %}
      <tr>
        <td>{{ item.menu_item.dishName }}</td>
        <td>{{ item.quantity }}</td>
        <td>${{ item.menu_item.price }}</td>
        <td>{{ item.customization }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<p><strong>Total Price: ${{ order_item.order.total_price }}</strong></p>
<h4>Thank you for your order!</h4>
{% endblock %}
